
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');
*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
  scroll-behavior: smooth;
}

body{
  min-height: 100vh;
  overflow-x: hidden;
  background: linear-gradient(#2b1055, #7597de);
  font-family: 'Poppins', sans-serif;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10000;
    background: transparent;
    /* font-family: Arial, Helvetica, sans-serif; */
    font-weight: bold;
}

header.scrolled
{
    background: #fff;
    transition: background 0.5s ease;
}

header .logo
{
    color: #fff;
    font-weight: 700;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
}

/* FIART LOGO ICIN */
header .logo img
{
    width: 250px;
    height: auto;
}

header ul{
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li
{
    list-style: none;
    margin-left: 20px;
}

header ul li a
{
    text-decoration: none;
    padding: 6px 15px;
    color: black;
    border-radius: 20px;
}

header ul li a:hover,
header ul li a.active
{
    background: #fff;
    color: black;
}


/* LOREM IPSUM DENEME */
.sec
{
    position: relative;
    padding: 100px;
    /* background: #1c0522; */
}

.sec h2
{
    font-size: 3.5em;
    margin-bottom: 10px;
    color: black;
}

.sec p
{
    font-size: 1em;
    color: black;
}