
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');
*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
  scroll-behavior: smooth;
}

body{
  min-height: 100vh;
  overflow-x: hidden;
  background: linear-gradient(#2b1055, #7597de);
  font-family: 'Poppins', sans-serif;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10000;
    background: transparent;
    /* font-family: Arial, Helvetica, sans-serif; */
    font-weight: bold;
}

/* header.scrolled
{
    background: #fff;
    transition: background 0.5s ease;
} */

header .logo
{
    color: #fff;
    font-weight: 700;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
}

/* FIART LOGO ICIN */
header .logo img
{
    width: 250px;
    height: auto;
}

header ul{
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li
{
    list-style: none;
    margin-left: 20px;
}

header ul li a
{
    text-decoration: none;
    padding: 6px 15px;
    color: black;
    border-radius: 20px;
}

header ul li a:hover,
header ul li a.active
{
    background: #fff;
    color: black;
}



/* PROJE SAYFASI DEVAM START */

.main-1{
    display: flex;
    overflow: auto;
    flex: none;
    width: 100%;
    height: 100vh;
    flex-flow: column nowrap;
    scroll-snap-type: y mandatory;
}
.main-1>div{
    text-align: center;
    scroll-snap-align: center;
    flex: none;
    width: 100%;
    height: 100%;
}
.main-1 div img{
    width: 100%;
    height: 100vh;
    object-fit: cover;
    object-position: center;
}
.main-2{
    position: relative;
}
.head{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    top: 0;
    height: 40vh;
    align-items: center;
}
.head h1{
    font-size: 45px;
    font-weight: 500;
    color: rgb(61, 61,61);
    padding-bottom: 5px;
}
.head span{
    color: rgb(53, 53, 53);
    font-size: 17px;
}
.head a{
    color: rgb(53, 53, 53);
    text-decoration: underline;
    cursor: pointer;
    text-underline-position: under;
}
.head a:hover{
    text-decoration-thickness: 2px;
}
.login{
    position: fixed;
    bottom: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
}
.login div{
    display: flex;
    justify-content: center;
}
.btn div{
    align-items: center;
    margin-right: 15px;
    margin-left: 15px;
    width: 10vw;
    height: 4vh;
    cursor: pointer;
    border-radius: 50px;
}
#order{
    background-color: #393c41;
    color: white;
}
#invn{
    background-color: #eeebeb;
    color: #393c41;
}
#order, #invn{
    font-size: 14px;
    font-weight: 500;
}
.blank{
    height: 10vh;
}
.login .arrow{
    height: 60px;
    font-size: 25px;
    color: rgb(75, 75, 75);
    animation: updown 1.5s ease infinite;
}

/* FOR THE ARROW START */
@keyframes updown{
    0%{
        transform: translateY(0);
    }
    10%{
        transform: translateY(5px);
    }
    20%{
        transform: translateY(0);
    }
    30%{
        transform: translateY(5px);
    }
    40%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(5px);
    }
    80%{
        transform: translateY(0);
    }
    100%{
        transform: translateY(0);
    }
}
/* FOR THE ARROW FINISH */


.main .head h1{
    animation: showspan 1s;
}
.main .head span{
    animation: show 2s;
}

@keyframes show{
    0%{
        transform: translateY(30px);
        opacity: 0;
    }
    40%{
        transform: translateY(30px);
        opacity: 0;
    }
    70%{
        transform: translateY(0px);
        opacity: 1;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}
@keyframes showspan{
    0%{
        transform: translateY(30px);
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}

.login #order{
    animation: order 1s;
}
@keyframes order{
    0%{
        transform: translateX(-20px);
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}

.login #invn{
    animation: invn 1s;
}
@keyframes invn{
    0%{
        transform: translateX(20px);
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}



/* js ile alakalı kısım yazı olayları vs start */

/* .head{
    opacity: 0;
}
.head-1{
    opacity: 1;
    transition: all 1.5s;
}
.head-2, .head-3, .head-4{
    opacity: 0;
    transition: all 1.5s;
}
.login{
    opacity: 0;
}
.login-1{
    opacity: 1;
    transition: all 1.5s;
    z-index: 1;
}
.login-2, .login-3, .login-4{
    opacity: 0;
    transition: all 1.5s;
    z-index: 1;
}
.active{
    opacity: 1;
}
.hide{
    opacity: 0;
} */

/* js ile alakalı kısım yazı olayları vs finish */







/* PROJE SAYFASI DEVAM FINISH */
